// custom colors
$primary_color : #0268C7;
$secondary_color : #161616;
$white_color : #f1f1f1;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

@mixin flex_nav ($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

img {
    max-width: 100%
}

.navbar {
    @include flex_nav(row, space-between, center);
    height: 70px;
    width: 70%;
    margin: 0 auto;
    .logo {
        @include flex_nav(row, space-between, center);
        height: 100%;
        img {
            height: 80%;
            cursor: pointer;
        }
    }

    .options{
        height: 100%;
        @include flex_nav(row, space-between, center);

        .options-list {    
            @include flex_nav(row, space-between, center);
            list-style-type: none;
            color: $secondary_color;
            font-size: .5rem;
            font-weight: 700;
            gap: .6rem;
            text-transform: uppercase;
            height: 100%;
            cursor: pointer;
        }

        .list-item {
            line-height: 65px;
        }
        .list-item:hover {
            border-bottom: 1px solid lightblue;
            animation-name: border;
            animation-duration: 1.1s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
        }
    }
}

@keyframes border {
    25% {
        border-bottom: 3px solid lightblue;
    }

    50% {
        border-bottom: 5px solid lightskyblue;
    }

    75% {
        border-bottom: 3px solid lightblue;
    }
}

